<template name="admissionTemplate">
  <h1><span class="glyphicon glyphicon-pencil"></span> Admission</h1>
  <a class="btn btn-primary" href="#" id="showResidents">Residents</a>

  <form>
    <div class="form-group">
      <label for="room">Room</label>
      <input type="text" class="form-control" id="room" name="room" placeholder="Enter a room">
    </div>
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Enter a First Name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter a Last Name">
    </div>
    <a class="btn btn-success" href="#" id="save">Save</a>
    <a class="btn btn-warning" href="#" id="cancel">Cancel</a>
  </form>

</template>
