<template name="chartsTemplate">

  <h1>Charting &amp; Observations</h1>

  {{#each residents}}
  <div class="col-sm-4 panel panel-default">
    <div class="panel-body">
      <a href="#" id="openWeightChart">
      <span class="glyphicon glyphicon-user" style="font-size:3em"  residentId="{{_id}}"></span>
      </a>
      <span style="font-size:2em">{{FirstName}} {{LastName}}</span>
      <span>Room {{Room}}</span>

    </div>

  </div>

  {{/each}}

</Template>
