<template name="navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </nav>
</template>
