<template name="pnotesTemplate">
  <h1>Progress Notes</h1>

  <a class="btn btn-primary" href="#" id="addnote">Add Note</a>

  <ul class="list-group">
    {{#each progressNotes}}
    <li class="list-group-item"><span class="badge">{{ResidentName}} </span>
      {{{Notes}}}
       created at {{createdAt}}
       <a href="" id="delnote"><span class="glyphicon glyphicon-remove" residentID="{{_id}}"></span></a>
    </li>
    {{/each}}
  </ul>

</Template>
