<template name="pnotesAddTemplate">
  <h1>Add Progress Notes</h1>

<a class="btn btn-primary" href="#" id="listnote">List Notes</a>
  <form>
    <div class="form-group">
      <label for="resident">Resident</label>
      <select id="resident" name="resident">
        {{#each residents}}
        <option value="{{_id}}">{{FirstName}} {{LastName}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="pnotes">Notes</label>
      <textarea class="form-control" id="notes" name="notes"></textarea>
    </div>
    <a class="btn btn-success" href="#" id="save">Save</a>
    <a class="btn btn-warning" href="#" id="cancel">Cancel</a>
  </form>

  <script>
    CKEDITOR.replace( 'notes' );
  </script>
</template>
