<template name="residentWeightChart">

<button class="btn btn-info"  id="charting">Charting &amp; Observations</button>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Weight</button>

{{#each residents}}
<h1>  {{FirstName}}  {{LastName}} </h1>
{{/each}}

  {{> weightChart }}

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          {{#each residents}}
          <h4 class="modal-title">{{FirstName}}  {{LastName}}</h4>
          {{/each}}
        </div>
        <div class="modal-body">
          <div class="input-group">
          <label>Date</label>
          <input type="text" class="form-control" name="record_date" id="record_date" />
          </div>
          <div class="input-group">
          <label>Weight</label>
          <input type="text" class="form-control" name="weight" id="weight" placeholder="Enter a weight"/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" id="save_weight">Save</button>
        </div>
      </div>

    </div>
  </div>

</template>
