<template name="residentListTemplate">

  <h1>Residents</h1>

  <a class="btn btn-primary" href="#" id="showAdmission">Admission</a>

  <table class="table">
    <thead>
    <tr>
      <th>Room</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each residents}}
    <tr>
      <td>{{Room}}</td>
      <td>{{FirstName}}</td>
      <td>{{LastName}}</td>
    </tr>

    {{/each}}
  </tbody>
  </table>

</template>
