<template name="tabsTemplate">
<ul class="nav nav-pills">
  <li role="presentation" class="{{residentsTab}}" ><a href="#" id="residents">Residents</a></li>
  <li role="presentation" class="{{pnotesTab}}" ><a href="#" id="pnotes">Progress Notes</a></li>
  <li role="presentation" class="{{assessmentsTab}}" ><a href="#" id="assessments">Assessment</a></li>
  <li role="presentation" class="{{carePlanTab}}" ><a href="#" id="careplan">Care Plan</a></li>
  <li role="presentation" class="{{chartsTab}}" ><a href="#" id="charts">Charting &amp; Observations</a></li>
</ul>
</template>
